/* The CSS styles to animate the 'push' behavior */
.push {
	margin-left: 240px;
	margin-right: -240px;
	transition: .3s ease-in;
}

a {
	text-decoration: none;
	font-weight: bold;
}

aside {
	width: 5%;
	height: 100%;
	position: fixed;
	overflow: hidden;
	transition: .32s ease-out;
	z-index: 2;
	background: #384047;
	font-size: 1.25em;
	line-height: 1.75em;
	color: #384047;
	background: #384047;
	font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial;
	font-weight: 400;
}

aside a, .navBtn {
	color: #fff;
}

.toggle {
	width: 312px;
}

.reveal {
	opacity: 1;
	left: 0;
}

aside nav {
	padding-left: 360px;
	overflow: hidden;
	position: absolute;
	transition: .3s ease-out;
	top: 80px;
	left: 0;
	width: 100%;
	opacity: 0;
	height: 100%;
}

aside a {
	float: left;
	padding: 8px 0;
	opacity: .5;
	width: 100%;
	transition: .3s ease;
	font-size: 1em;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 1.85em;
}

aside a:hover, .current, .toggle .navBtn {
	opacity: 1;
}

.toggle nav {
	padding-left: 60px;
	opacity: 1;
}

.navBtn {
	font-size: 2em;
	font-weight: 700;
	margin: 30px 0 0;
	width: 100%;
	text-align: center;
	line-height: 1em;
	-webkit-transform: rotate(0deg);
	transition: .3s ease-out;
	display: block;
	cursor: pointer;
	position: absolute;
	z-index: 1000001;
	opacity: .5;
	left: 0;
}

.toggle .navBtn {
	-webkit-transform: rotate(224deg);
	color: #fff;
	left: -100px;
}

.navBtn:hover {
	opacity: 1;
}

.main {
	background: #f6f6f6;
	float: right;
	width: 96%;
	margin: 0 0 0 5%;
	padding: 0;
	transition: .6s ease-in;
	overflow: hidden;
	z-index: 2;
	/* 	border: 3px solid red; */
}

/* sortable style */
#sortable {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 60%;
}

#sortable li {
	margin: 0 3px 3px 3px;
	padding: 0.4em;
	padding-left: 1.5em;
	font-size: 1.4em;
	/* 	height: 18px; */
}

#sortable li span {
	position: absolute;
	margin-left: -1.3em;
}

.text-rainbow {
	margin: 0 auto 0;
	padding: 0 0 0 0;
}