
.photo-gallery {
  margin: 20px auto;
  width: 70%;
}

.photo-gallery ul {
  padding: 0;
  overflow: auto;
  list-style: none;
  margin: 0;
}

.photo-gallery ul li { display: block; }

.photo-gallery ul li .thumbnail {
  padding-bottom: 2px;
  cursor: pointer;
}

.photo-gallery ul li:last-child .thumbnail { padding-bottom: 0px; }

.photo-gallery ul li img { width: 100%; }

.photo-gallery .photo-list { margin-left: 80%; }

.photo-gallery .current-photo {
  width: 80%;
  float: left;
  padding-right: 2px;
}

.photo-gallery .current-photo img {
  max-height: 100%;
  width: 100%;
}
 @media screen and (max-width: 900px) {

.photo-gallery {
  width: 100%;
  padding: 0;
}

.photo-gallery .current-photo {
  width: 100%;
  float: none;
}

.photo-gallery .photo-list {
  width: 100%;
  margin-top: 5px;
  text-align: center;
  margin-left: 0;
  overflow: auto;
}

.photo-gallery ul li {
  float: left;
  width: 25%;
}

.photo-gallery ul li img { width: 98%; }
}
