.text-rainbow{    

  font-size:90px;

  background:#e9e3dd;

  background-image: url('https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQTdWeWNteABnbzguiXSBxmfc8Z8nh_HHoWoK35QL81x4HnpVmgvQ');

  background-repeat: no-repeat;

  background-size: 200% 200%;

  background-position: 100% 100%;

  -webkit-animation: square 3s linear infinite;

  -ms-animation: square 3s linear infinite;

  animation: square 3s linear infinite;

  -webkit-background-clip: text;

  color:transparent;  

  text-align:center;

  line-height:100px;

  position:relative;

}

@-webkit-keyframes square {

  0% { background-position: 0 0; }

  25% { background-position: 100% 0; }

  50% { background-position: 100% 100%; }

  75% { background-position: 0 100%; }

  100% { background-position: 0 0; }

}

@-ms-keyframes square {

  0% { background-position: 0 0; }

  25% { background-position: 100% 0; }

  50% { background-position: 100% 100%; }

  75% { background-position: 0 100%; }

  100% { background-position: 0 0; }

}

@keyframes square {

  0% { background-position: 0 0; }

  25% { background-position: 100% 0; }

  50% { background-position: 100% 100%; }

  75% { background-position: 0 100%; }

  100% { background-position: 0 0; }

}