/* Expansion Grid */
.expansion-grid{
  position: relative;
}
.expansion-grid > li{
  position: static;
}
.expansion-grid-switch{
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.expansion-grid-reveal{
  position: absolute;
  right: 6px;
  left: 6px;
  z-index: 1;
  opacity: 0;
  -o-transition: opacity 200ms ease-out;
  -moz-transition: opacity 200ms ease-out;
  -webkit-transition: opacity 200ms ease-out;
  transition: opacity 200ms ease-out;
}
.expansion-grid .active .expansion-grid-reveal{
  z-index: 2;
  opacity: 1;
}
.expansion-grid-reveal button.close{
  position: absolute;
  top: 15px;
  right: 15px;
  border: none;
  width: 30px;
  height: 30px;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
.expansion-grid-reveal button.close:before,
.expansion-grid-reveal button.close:after{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 1px;
  margin: auto;
  background-color: #fff;
}
.expansion-grid-reveal button.close:before{
  -ms-transform: rotate( 45deg );
  -webkit-transform: rotate( 45deg );
  transform: rotate( 45deg );
}
.expansion-grid-reveal button.close:after{
  -ms-transform: rotate( -45deg );
  -webkit-transform: rotate( -45deg );
  transform: rotate( -45deg );
}