/admintest/
/Footer.jsp
/Header.jsp
/LockArticle.jsp
/Mem_list.jsp
/ReportArticle.jsp
/Table.jsp
/Table2.jsp
/UpdateMember.jsp
/WebSocket.jsp
/bulletin_add.jsp
/bulletin_all.jsp
/bulletin_edit.jsp
/charts.jsp
/empIndexA.jsp
/empSidebar.jsp
/emp_Articles.jsp
/emp_Forum.jsp
/emp_add.jsp
/emp_profile.jsp
/emp_update.jsp
/emp_update2.jsp
/movie_add.jsp
/movie_edit.jsp
